<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>carBeauty.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>20C5A3881E97616D007245D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20C5A3A41E97616E007245D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20C5A3AF1E97616E007245D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
